body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  padding: 10px;
}

.header-left h1 {
  margin: 30px;
}

.header-right {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center items */
  
}

.navigation {
  background-color: #eee;
  padding: 10px;
}

.navigation ul {
  list-style: none;
  display: flex; /* Display list items horizontally */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navigation li {
  margin-right: 10px; /* Add a little spacing between list items if needed */
}

.navigation a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-bottom: 2px solid transparent; /* Initially transparent underline */
  transition: border-color 0.3s ease; /* Smooth transition for underline color change */
}

/* Remove default marker for list items */
.navigation li::marker {
  content: none;
}

.navigation a:hover {
  background-color: #ddd;
  border-color: #333; /* Change underline color on hover */
}

.content-section {
  margin: 20px;
}

h2 {
  font-size: 24px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
