* {
  box-sizing: border-box;
}


:root {
  --first: rgb(136, 170, 136); 
  --second: rgb(204, 153, 119); 
  --third: rgb(25, 23, 19);
  --darker: rgb(102, 102, 102); 
  --lighter: rgb(238, 221, 187);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--first);
  background-color: var(--lighter);
  line-height: 1;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--third);
  background-color: var(--second);
  padding: 10px 1%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--second);
  margin-right: 10px;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--first);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.vision-banner {
  background: rgb(68, 88, 120);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-lighter;
  min-height: 10vh;
  color: var(--lighter);
  padding: 2% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.vision-banner .banner-content {
  display: flex;
  align-items: center;
}

.vision-banner img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin-right: 10px;
}

.vision-banner h2 {
  background-color: var(--second);
  color: var(--third);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline-block;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--first);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--second);
  background-color: var(--first);
  color: var(--third);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-lighter;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}


.flex-item div {
  background-color: var(--second);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.contact address a {
  color: var(--third);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--second);
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
  height: 100%;
}

.resume a {
  color: var(--third);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.resume a:hover {
  background-size: 100% 88%;
  color: var(--second);
}

.surf-report { background-image: url("./images/Challenge-1.png"); }
.led-wall { background-image: url("./images/LED-Wall.png"); }
.react-calc { background-image: url("./images/Calculator.webp"); }
.pastel-puzzles { background-image: url("./images/puzzle.jpeg"); }
.run-buddy { background-image: url("./images/Run.jpeg"); }

@media screen and (max-width: 980px) {
  header {
    padding: 0;
  }
}
